@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Add New Restaurant</h2>
<form action="/saveRestaurant" method="post">
    <label for="NewRestaurant">Restaurant Name</label>
    <input type="text" class="form-control" name="restaurantName" id="newRestaurant">
    <label for="cuisineNameDropDown">Cuisine</label>
    <select name="cuisineId">
        @foreach (var cuisine in Model)
        {
            <option value="@cuisine.GetId()">@cuisine.GetName()</option>
        }
    </select>

    <div>
    <label for="address">Address</label>
    <input type="text" class="form-control" name="streetAddress" id="streetAddress">
    <label for="city">City</label>
    <input type="text" class="form-control" name="city" id="city">  
   <label for="state">State</label>
    <select name="state">
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
        <option value="DE">Delaware</option>
        <option value="DC">District Of Columbia</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="HI">Hawaii</option>
        <option value="ID">Idaho</option>
        <option value="IL">Illinois</option>
        <option value="IN">Indiana</option>
        <option value="IA">Iowa</option>
        <option value="KS">Kansas</option>
        <option value="KY">Kentucky</option>
        <option value="LA">Louisiana</option>
        <option value="ME">Maine</option>
        <option value="MD">Maryland</option>
        <option value="MA">Massachusetts</option>
        <option value="MI">Michigan</option>
        <option value="MN">Minnesota</option>
        <option value="MS">Mississippi</option>
        <option value="MO">Missouri</option>
        <option value="MT">Montana</option>
        <option value="NE">Nebraska</option>
        <option value="NV">Nevada</option>
        <option value="NH">New Hampshire</option>
        <option value="NJ">New Jersey</option>
        <option value="NM">New Mexico</option>
        <option value="NY">New York</option>
        <option value="NC">North Carolina</option>
        <option value="ND">North Dakota</option>
        <option value="OH">Ohio</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        <option value="SD">South Dakota</option>
        <option value="TN">Tennessee</option>
        <option value="TX">Texas</option>
        <option value="UT">Utah</option>
        <option value="VT">Vermont</option>
        <option value="VA">Virginia</option>
        <option value="WA">Washington</option>
        <option value="WV">West Virginia</option>
        <option value="WI">Wisconsin</option>
        <option value="WY">Wyoming</option>
    </select> 
    </div>

    <label for="zip">Zip</label>
    <input type="number" class="form-control" name="zip" id="zip">
    
    <div class="row">
        <div class="col-sm-3" id="dogsSection">
            <label>Allows Dogs?</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="allowsDogs" id="dogYes" value="1">
                <label class="form-check-label" for="allowsDogs1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="allowsDogs" id="dogNo" value="0">
                <label class="form-check-label" for="allowsDogs2">No</label>
        </div>

         </div>
         <div class="col-sm-3" id="alcoholSection">
            <label>Serves Alcohol?</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="servesAlcohol" id="alcoholYes" value="1">
                <label class="form-check-label" for="alcoholYes">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="servesAlcohol" id="alcoholNo" value="0" default>
                <label class="form-check-label" for="alcoholNo">No</label>
            </div>
         </div>
     </div>

    <button class="btn btn-primary" type="submit">Add Restaurant</button>
</form>