@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Add New Restaurant</h2>
<form action="/saveRestaurant" method="post">
    <label for="NewRestaurant">Restaurant Name</label>
    <input type="text" class="form-control" name="restaurantName" id="newRestaurant">
    <label for="cuisineNameDropDown">Cuisine</label>
    <select name="cuisineId">
        @foreach (var cuisine in Model)
        {
            <option value="@cuisine.GetId()">@cuisine.GetName()</option>
        }
    </select>
    <div class="row">
        <div class="col-sm-3" id="dogsSection">
            <label>Allows Dogs?</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="allowsDogs" id="dogYes" value="1">
                <label class="form-check-label" for="allowsDogs1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="allowsDogs" id="dogNo" value="0">
                <label class="form-check-label" for="allowsDogs2">No</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="allowsDogs" id="dogDontKnow" value="">
                <label class="form-check-label" for="allowsDogs3">I don't know</label>
            </div>
         </div>
         <div class="col-sm-3" id="alcoholSection">
            <label>Serves Alcohol?</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="servesAlcohol" id="alcoholYes" value="1">
                <label class="form-check-label" for="alcoholYes">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="servesAlcohol" id="alcoholNo" value="0">
                <label class="form-check-label" for="alcoholNo">No</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="servesAlcohol" id="alcoholDontKnow" value="">
                <label class="form-check-label" for="alcoholDontKnow">I don't know</label>
            </div>
         </div>
     </div>

    <button class="btn btn-primary" type="submit">Add Restaurant</button>
</form>