
@{
}

<h2>Enter New Cuisine Name</h2>
<form action="/saveToDB" method="post" >
  <div class="form-group">
    <label for="NewCuisine">New Cuisine Type:</label>
    <input type="text" class="form-control" name="newCuisine" id="newCuisine">
    <button class="btn btn-primary" type="submit">Add New Cuisine</button>
  </div>

</form>
