
@{
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dinning Tracker</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
     <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="container">
<h4>Your new cuisine has been saved to the Cuisine List!</h4>

@foreach (var cuisine in Model)
    {
    <div class="cuisineCard" style="width: 18rem;">
      <img class="card-img-top" src="~/images/@cuisine.GetName()_card.jpg" alt="@cuisine.GetName() food">
      <div class="card-body">
        <h5 class="card-text">@cuisine.GetName()</h5>
        <a href="/restaurants/@cuisine.GetName()/@cuisine.GetId()/sortedByCuisine" class="btn btn-primary">See @cuisine.GetName() Restaurants</a>
      </div>
    </div>
    }
 </div>